#include "../../Flutter/Flutter-Release.xcconfig"
#include "Warnings.xcconfig"

// Kotlin Native Library - Architecture mapping
KOTLIN_TARGET[arch=arm64] = macosArm64
KOTLIN_TARGET[arch=x86_64] = macosX64
OTHER_LDFLAGS = $(inherited) -framework IOKit "$(PROJECT_DIR)/../account_ledger_lib_kotlin_native/lib/build/bin/$(KOTLIN_TARGET)/releaseShared/libaccount_ledger_lib.dylib"
HEADER_SEARCH_PATHS = $(inherited) "$(PROJECT_DIR)/../account_ledger_lib_kotlin_native/lib/build/bin/$(KOTLIN_TARGET)/releaseShared"
SWIFT_OBJC_BRIDGING_HEADER = Runner/Runner-Bridging-Header.h
